body{
    margin:0;
}
.modebar-container{
    display:none;
}  
.mapboxgl-ctrl-bottom-right{
    display:none;
}
.svg-container {
    margin-top: -60px !important;
}

/* The element to apply the animation to */


@media (max-width:570px) {
    .mapboxgl-map{
        left:0 !important;
        width: 100% !important;
    } 
    .mapboxgl-canvas {
        width: 100% !important;
    }
    .infolayer {
       transform: scale(0.5, 0.5);
    }
    g .cbcoloraxis {
        transform: translate(420px, 120px) !important;
    } 
}
