body{
    margin:0;
}
.modebar-container{
    display:none;
}  
.svg-container {
    margin_top: -60px;
}
@media (max-width:570px) {
    .mapboxgl-map{
        left:0 !important;
        width: 100% !important;
    } 
    .mapboxgl-canvas {
        width: 100% !important;
    }
    .infolayer {
       transform: scale(0.5, 0.5);
    }
    g .cbcoloraxis {
        transform: translate(450px, 120px) !important;
    } 
}
